img {
  width: 100%;
}

p {
  margin: 0;
}

code {
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

/* header */

ul {
  list-style: none;
  padding: 0;
}

nav ul {
  gap: 15px;
}

nav li:first-child {
  margin-right: auto;
  margin-left: 0;
}

/* about me */

.about-me {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.tech-stack {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tech-stack span,
.tech-stack svg {
  --size: 40px;
  height: var(--size);
  width: var(--size);
}

/* projects */

.projects-list {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.card-container,
.card-container button {
  background-color: white;
}

.card-container {
  --move-laptop: translateX(15px);
  min-height: 200px;
  overflow: hidden;
  border-radius: 7px;
  isolation: isolate;
}

.laptop-container {
  padding: 0;
  border: none;
}

.laptop-container {
  transform: translateX(40px);
  transition: transform 0.2s ease-in-out;
  width: 150%;
}

.card-container:hover .laptop-container {
  transform: var(--move-laptop);
}

.inside-laptop {
  height: 53%;
  object-fit: contain;
  top: 20.55%;
  left: 4.9%;
}

/* what i do */
.what-i-do {
  margin-bottom: 50px;
}

.what-i-do .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

footer,
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

footer {
  margin-top: auto;
  margin-bottom: 0;
  padding: 10px;
}

footer a svg {
  color: var(--text);
}

@media (max-width: 632px) {
  .projects-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
  }

  .laptop-container {
    transform: var(--move-laptop);
  }

  .what-i-do .grid {
    grid-template-columns: 1fr;
  }
}
