header,
footer,
h1 {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

h1 {
  margin: 0;
}

h2 {
  font-size: clamp(1.1rem, 3vw, 2rem);
}

h3 {
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  color: var(--theme-color);
  filter: invert();
  margin-top: 0;
}

img {
  width: 100%;
}

p {
  margin: 0;
  text-indent: 30px;
}

code {
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
  padding: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

/* header */

ul {
  list-style: none;
  padding: 0;
}

nav ul {
  gap: 15px;
}

nav li:first-child {
  margin-right: auto;
  margin-left: 0;
}

/* about me */

.about-grid {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.about-grid > :last-child {
  gap: 15px;
}

.typing-container {
  display: inline-flex;
  width: min-content;
}

.typing-animation {
  overflow: hidden;
  border-right: 0.15em solid var(--theme-color);
  white-space: nowrap;
  width: min-content;
  animation: typing 5s steps(20) infinite both, blinking 1s steps(2) infinite;
}

.typing-animation::before {
  content: '';
  margin-right: 5px;
  animation: changeText 10s infinite both;
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
}

@keyframes changeText {
  from,
  30% {
    content: 'Front End';
  }

  to,
  70% {
    content: 'Web';
  }
}

@keyframes typing {
  from,
  20% {
    width: 0;
  }

  50%,
  60% {
    width: 100%;
  }

  to,
  70% {
    width: 0%;
  }
}

.contact {
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 7px;
  background-color: var(--theme-color);
  transition: background-color 0.2s ease-in-out;
}

.contact:hover {
  background-color: rgba(var(--theme-rgb), 0.85);
}

.contact:active {
  background-color: rgba(var(--theme-rgb), 0.7);
}

.contact.small {
  visibility: hidden;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.contact.small.show {
  visibility: visible;
  opacity: 1;
}

/* projects */

.projects-list {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.card-container,
.card-container button {
  background-color: white;
}

.card-container {
  --move-laptop: translateX(15px);
  min-height: 200px;
  overflow: hidden;
  border-radius: 7px;
  isolation: isolate;
}

.laptop-container {
  padding: 0;
  border: none;
}

.laptop-container {
  transform: translateX(40px);
  transition: transform 0.2s ease-in-out;
  width: 150%;
}

.card-container:hover .laptop-container {
  transform: var(--move-laptop);
}

.inside-laptop {
  height: 53%;
  object-fit: contain;
  top: 20.55%;
  left: 4.9%;
}

/* what i do */
.what-i-do {
  margin-bottom: 50px;
}

.what-i-do .grid {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.tech-stack {
  grid-column-start: 1;
  grid-column-end: -1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tech-stack span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  gap: 5px;
}

.tech-stack span,
.tech-stack svg {
  --size: 60px;
  height: var(--size);
  width: var(--size);
}

/* footer */

footer,
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

footer {
  margin-top: auto;
  margin-bottom: 0;
  padding: 10px 0;
}

footer a svg {
  color: var(--text);
}

@media (max-width: 632px) {
  .projects-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
  }

  .laptop-container {
    transform: var(--move-laptop);
  }
}
